extends layout

block content
  .row
    .col-sm-8.col-xs-12
      .page-header
        h1=title
  .row
    .col-sm-12.col-xs-12
      .panel.panel-default
        .panel-body
          blockquote
            p.text-muted Restaurants may be classified or distinguished in many different ways. The primary factors are usually the food itself (e.g. vegetarian, seafood, steak); the cuisine (e.g. Italian, Chinese, Japanese, Indian, French, Mexican, Thai) and/or the style of offering (e.g. tapas bar, a sushi train, a tastet restaurant, a buffet restaurant or a yum cha restaurant). Beyond this, restaurants may differentiate themselves on factors including speed (see fast food), formality, location, cost, service, or novelty themes (such as automated restaurants). Restaurants range from inexpensive and informal lunching or dining places catering to people working nearby, with modest food served in simple settings at low prices, to expensive establishments serving refined food and fine wines in a formal setting.
          blockquote
            p.text-success In the former case, customers usually wear casual clothing. In the latter case, depending on culture and local traditions, customers might wear semi-casual, semi-formal or formal wear. Typically, at mid- to high-priced restaurants, customers sit at tables, their orders are taken by a waiter, who brings the food when it is ready. After eating, the customers then pay the bill. In some restaurants, such as workplace cafeterias, there are no waiters; the customers use trays, on which they place cold items that they select from a refrigerated container and hot items which they request from cooks, and then they pay a cashier before they sit down. Another restaurant approach which uses few waiters is the buffet restaurant. Customers serve food onto their own plates and then pay at the end of the meal. Buffet restaurants typically still have waiters to serve drinks and alcoholic beverages. Fast food restaurants are also considered a restaurant. The travelling public has long been catered for with ship's messes and railway restaurant cars which are, in effect, travelling restaurants. Many railways, the world over, also cater for the needs of travellers by providing railway refreshment rooms, a form of restaurant, at railway stations.
          footer
            p In the 2000s, a number of travelling restaurants, specifically designed for tourists, have been created. These can be found on trams, boats, buses, etc.
